---
- name: run upgrade
  shell: sleep 2 && ghe-upgrade -y /var/lib/ghe-updates/{{ ghe_package_filename }}
  async: 1800
  poll: 0
  ignore_errors: yes
  tags:
    # disable ansible-lint check for this task because it thinks this command isn't doing anything when it actually is
    - skip_ansible_lint

- name: wait for server restart
  delegate_to: localhost
  wait_for:
    host: "{{ inventory_hostname }}"
    port: 443
    state: stopped
    delay: 60
    timeout: 1800

- name: wait for application to come back up
  delegate_to: localhost
  command: curl -s -k -o /dev/null -w "%{http_code}" https://{{ inventory_hostname }} warn=no
  register: ghe_site
  until: "ghe_site.stdout == '503'"
  retries: 15
  delay: 60
  changed_when: False
